<label class="label" for={{name}}>{{label}}</label>

<input class="input" name={{name}} id={{name}} type={{type}} placeholder={{placeholder}}>

</input>

{{#if isError}}
<p class="error">Error</p>
{{/if}}
